<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <h1>This is the Text-Util Site. Enter any texts here:</h1>
    <form action="analyze" method = 'get'>
        <textarea name = "text" style="height: 231px; width: 1232px;"></textarea><br>
        <input type="checkbox" name = "removepunc">Remove Puntuation</input><br>
        <input type="checkbox" name = "extraspacerm">Remove Extra Space</input><br>
        <input type="checkbox" name = "Uppercase">UPPER CASE</input><br>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>